<body>

    <main class="container">
        <h1>
            Lista de diaristas
        </h1>

        <table class="table">
            <thead>
                <th>ID</th>
                <th>NOME</th>
                <th>ENDEREÇO</th>
                <th>Ações</th>
            </thead>
            <tbody>
                {{#each diaristas}}
                <tr>
                    <td>{{this.id}}</td>
                    <td><a href="/diaristas/show/{{this.id}}">{{this.nome}}</a></td>
                    <td>{{this.endereco}}</td>
                    <td><a href="/diaristas/{{this.id}}/edit" class="btn btn-primary">Editar</a>
                        <form action="/diaristas/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                            <button class="btn btn-danger" type="submit" value="submit" onclick="return confirm('Do you sure?')">
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/diaristas/create" class="btn btn-success">Adicionar Diarista</a>
    </main>
</body>